meta(charset="UTF-8")/
meta(name="viewport" content="width=device-width, initial-scale=1.0")/

<!-- css -->
link(rel="stylesheet" href="/static/css/navbar.css")/
link(rel="stylesheet" href="/static/css/index.css")/
link(href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap" rel="stylesheet")/
title Board