.page-wrap {
  display: inline-block;
  vertical-align: top;
}

.paginate {
  margin-top: 20px;
  position: relative;
  vertical-align: top;
  text-align: center;
}

.paginate button {
  float: left;
  position: relative;
  min-width: 30px;
  height: 35px;
  margin-top: -1px 1px -1px 1px;
  padding-top: 2px 0px 3px 4px;
  border-top: rgb(255, 255, 255) solid 1px;
  border-right: rgb(255, 255, 255) solid 1px;
  border-bottom: rgb(255, 255, 255) solid 1px;
  border-left: rgb(255, 255, 255) solid 1px;
  background-color: white;
  letter-spacing: -1px;
  vertical-align: top;
  font-style: normal;
  color: #999;
  text-decoration: none;
  line-height: normal;
  outline: 0;
}

.paginate button:hover {
  border-top: rgb(224, 224, 224) solid 1px;
  border-right: rgb(224, 224, 224) solid 1px;
  border-bottom: rgb(224, 224, 224) solid 1px;
  border-left: rgb(224, 224, 224) solid 1px;
  color: #00c73c;
  cursor: pointer;
}

.paginate button:active {
  border-top: rgb(255, 255, 255) solid 1px;
  border-right: rgb(255, 255, 255) solid 1px;
  border-bottom: rgb(255, 255, 255) solid 1px;
  border-left: rgb(255, 255, 255) solid 1px;
  background-color: white;
  outline: 0;
}

em {
  font-style: normal;
}

.paginate button.page.current-page {
  border: 1px solid #e0e0e0;
  color: #00c73c;
}
