<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Board</a>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/posts">board</a></li>
  </ul>
</nav>
