extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append head
  script(defer type="module" src="/static/js/user/RegisterFormValidation.js")

block content
  .main-container
    h4 New User
    form(method="POST" enctype="multipart/form-data" novalidate)
      fieldset
        .name-area
          label(for="name")
            h4 name
          +userInputTag("input", "name", "name", "uit name", "name")
        .email-area
          label(for="email")
            h4 email
          +userInputTag("input", "email", "email", "uit body", "email")
        .id-area
          label(for="id")
            h4 id
          +userInputTag("input", "id", "id", "uit id", "id")
        .pw.origin-area
          label(for="pw-origin")
            h4 password
          +userInputTag("input", "pw-origin", "password", "uit pw", "password", "password")
        .pw.confirm-area
          label(for="pw-confirm")
            h4 confirm password
          +userInputTag("input", "pw-confirm", "passwordConfirmation", "uit pw", "confirm password", "password")
        a.btn(href="/") Back
        button.btn.ml(type="submit") Sign up