extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append head
  script(defer type="module" src="/static/js/post/EditFormValidation.js")

block content
  .container
    h4 Edit Post
    form(method="POST" enctype="multipart/form-data" novalidate)
      fieldset
        .title-area
          label(for="title")
            h4 Title
          +userInputTag("input", "title", "postTitle", "uit title", "title")(value=post.title)
        .body-area
          label(for="body")
            h4 Body
          +userInputTag("textarea", "body", "postBody", "uit body", "body")= post.body
        a(class="btn btn-primary mb-2" href=`/posts/${ post._id }`) Back
        button(
        type="submit"
        class="btn btn-primary mb-2") Edit