<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partial/header.ejs") %>
  </head>

  <body>
    <%- include ("../partial/navbar.ejs") %> <%- include ("../partial/body.ejs")
    %>
    <div class="container">
      <h4>New Post</h4>
      <form method="POST" novalidate>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              name="title"
              id="title"
              class="form-control"
              placeholder="title"
            />
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <div class="form-group">
            <label for="body">Body</label>
            <textarea
              type="text"
              name="postBody"
              id="body"
              class="form-control"
              placeholder="body"
              rows="3"
            ></textarea>
          </div>
        </div>
        <a class="btn btn-primary mb-2" href="/posts" role="button">Back</a>
        <input
          type="submit"
          class="btn btn-primary mb-2"
          value="create"
          formaction="/posts"
        />
      </form>
    </div>
  </body>
</html>
