extends ../components/partial/layout.pug
include ../components/form/inputable_tag.pug

block content
  .container
    h4 New Post
    form(method="POST" novalidate)
      +inputableTag("input", "Title", "title", "title", "form-control", "title")
      +inputableTag("textarea", "Body", "body", "postBody", "form-control", "body")
      a(class="btn btn-primary mb-2" href="/posts" role="button") Back
      button(
        type="submit"
        class="btn btn-primary mb-2"
        formaction="/posts") Create