extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append style
  link(rel="stylesheet" type="text/css" href="/static/css/paginate.css")
  
block append head
  script(defer type="module" src="/static/js/post/render.js")

block content
  .main-container
    #index-header
      h4 Board
      +searchForm()
    +tablebody()
    +pagination()
    - if(isAuthenticated)
      a.btn(href="/posts/new") New

mixin pagination()
  - if(count)
    div.paginate: div.page-wrap
      - for (let i = 1; i <= count; i++)
        - if(currentPage==i)
          button.page.current-page: em.num-page= i
        - else
          button.page: em.num-page= i

mixin tablebody()
  table
    thead
      tr
        th Title
        th Author
        th CreatedAt
  - if(posts.length)
    tbody#tbody-posts
      each post in posts
        tr
          td: a.post-link.txt-hidden(href=`/posts/${post._id}`)= `${post.title}`
          td= `${post.author.name}`
          td= `${post.createdAt}`
  - else
    p There are no posts please create it


mixin searchForm()
  form(action="/posts" method="GET" id="search-form" novalidate)
    fieldset
      .input-area
        +userInputTag("input", "search", "search", "uit", "search...")
      button.btn(type="submit") submit