extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append head
  script(defer type="module" src="/static/js/post/NewForm.js")

block content
  .main-container
    h4 New Post
    form(action="/posts" method="POST" id="post-create" enctype="multipart/form-data" novalidate)
      fieldset
        .input-area
          label(for="title")
            h4 Title
          +userInputTag("input", "title", "title", "uit", "title")
        .input-area
          label(for="body")
            h4 Body
          +userInputTag("textarea", "body", "body", "uit", "body")
        a.btn(href="/posts") Back
        button.btn.ml(type="submit") Create