extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append head
  script(defer type="module" src="/static/js/user/EditForm.js")

block content
  .main-container
    h4 Edit User
    form(action=`/users/${user._id}` method="POST" id="user-edit" enctype="multipart/form-data" novalidate)
      fieldset
        .input-area
          label(for="currentPw")
            h4 current password*
          +userInputTag("input", "currentPw", "currentPassword", "uit", "current password", "password")
        .input-area
          label(for="name")
            h4 name
          +userInputTag("input", "name", "name", "uit", "name")(value=user.name)
        .input-area
          label(for="id")
            h4 id
          +userInputTag("input", "id", "id", "uit", "id")(value=user.id)
        .input-area
          label(for="pw-new")
            h4 new password
          +userInputTag("input", "pw-new", "newPassword", "uit", "new password", "password")
        .input-area
          label(for="pw-confirm")
            h4 password confirmation
          +userInputTag("input", "pw-confirm", "passwordConfirmation", "uit", "confirm password", "password")
        a.btn(href=`/users/${ user._id }`) Back
        button.btn.ml(type="submit") Update