extends ../components/partial/layout.pug
include ../components/form/formChildNode.pug

block append head
  script(defer type="module" src="/static/js/user/RegisterForm.js")

block content
  .main-container
    h4 New User
    form(method="POST" id="user-register" enctype="multipart/form-data" novalidate)
      fieldset
        .input-area
          label(for="name")
            h4 name
          +userInputTag("input", "name", "name", "uit", "name")
        .input-area
          label(for="email")
            h4 email
          +userInputTag("input", "email", "email", "uit", "email")
        .input-area
          label(for="id")
            h4 id
          +userInputTag("input", "id", "id", "uit", "id")
        .input-area
          label(for="password")
            h4 password
          +userInputTag("input", "password", "password", "uit", "password", "password")
        .input-area
          label(for="passwordConfirmation")
            h4 confirm password
          +userInputTag("input", "passwordConfirmation", "passwordConfirmation", "uit", "confirm password", "password")
        a.btn(href="/") Back
        button.btn.ml(type="submit") Sign up